<h1 class="Buy a Gift">
</h1>

<div class="aboutUs">
	Know someone who would love to grow their own, but has never managed to get started? Or a keen gardener who wants a easier time? Or an enthusiastic youngster who wants to get growing? Then this is the place for you. Our gifting options vary from as little as £18 for 3 months and are suitable for almost all ages and gardens. Here are the options:
	
	3-month subscription: £18
	6-month subscription including a 5% discount: £34.20
	9-month subscription including a 10% discount: £48.60
	12-month subscription including a 15% discount: £61.20
	
	When you subscribe you will recieve a gift code that you can either forward to your lucky recipient or print out and pop in a card; or, if you prefer, you can enter their email address and we will email the code directly to them on the date you specify. All they will then need to do is sign up and enter the code instead of payment, and they will be rewarded with a fantastic variety of veggie seeds and clear, simple advice on how to make the most of them. Everytime they take a bite, they will think of you! All you need to do is select your gift option, enter your email address (so that we can send you the code) and you will be forwarded on to our secure payment page.

<div class="giftoption">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Choose length of gift subsription <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">3 Months - £18.00</a></li>
    <li><a href="#">6 Months - £34.20</a></li>
    <li><a href="#">9 Months - £48.60</a></li>
    <li><a href="#">12 Months - £61.20</a></li>
  </ul>
</div>
		
<div class='form-group'>
	<%= f.label :name, :class => 'col-lg-4 control-label' %>
  <div class='col-lg-12'>
		<%= f.text_field :name, :required => true %>
	</div>
</div>
		
	  <div class='form-group'>
			<%= f.label :email, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.email_field :email, :autofocus => true, :required => true %>
			</div>
		</div>
		
<div class='form-group'>
<input type="radio" name="giftforward" value="giver">I would like to receive the gift code, and give the gift myself<br>
<input type="radio" name="giftforward" value="recipient">I would like the gift code to be emailed directly to the recipent
</div>

<!-->		if they select themselves, then nothing else appears here
		if they select the recipient, then we need a recipient name and email address and a date of sending, both compulsory-->
		
	
			
</div>
		
<div class='form-group'>
	<%= f.label :name, :class => 'col-lg-4 control-label' %>
  <div class='col-lg-12'>
		<%= f.text_field :name, :required => true %>
	</div>
</div>
		
<div class='form-group'>
  <div class='visible-xs col-lg-12'>
		<%= f.submit "Proceed to payment", class: 'btn btn-primary btn-block btn-lg' %>
	</div>
  <div class='hidden-xs col-lg-12'>
		<%= f.submit "Proceed to secure GoCardless payment page", class: 'btn btn-primary btn-block btn-lg' %>
	</div>
</div>
	
	