<div class="hugeTitle">Account Settings</div>
<div class="aboutUs">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<div class='col-md-6'>
<fieldset>

  <div class="miniTitle"><%= t :account_details %></div>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
</fieldset>
</div>



<div class="col-md-6">
<fieldset>

	<div class="miniTitle"><%= t :delivery_details %></div>
	<div><%= f.label :name %><br />
		<%= f.text_field :name %></div>
	<div><%= f.label :address_street %><br />
		<%= f.text_field :address_street %></div>
	<div><%= f.label :address_locality %><br />
		<%= f.text_field :address_locality %></div>
	<div><%= f.label :address_postcode %><br />
		<%= f.text_field :address_postcode %></div>
	</fieldset>
</div>

<div><%= f.label :current_password %> <i>(to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  <p>
  <div><%= f.submit "Update" %></div>
</p>	
		
<% end %>

<div class="miniTitle">Cancel my account</div>

<p>Are you sure? This will delete your SeedPod Account! By deleting your account you will no longer receive any seeds or advice each month. You will also lose access to previous month's advice, and will not have access to future guidance for the seeds you have already planted. <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>


</div>
