<h1 class="hugeTitle">
	Account Details
</h1>
<div class=aboutUs>
	<p>
	<div class="hidden-xs progressBar">
		Subscribe <i class="icon-long-arrow-right"></i> <span class="progressHighlight">Account Details</span> <span id='payment-progress'><i class="icon-long-arrow-right"></i> GoCardless Payment Page </span><i class="icon-long-arrow-right"></i> Confirmation
	</div>
	</p>
	<p>

		

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

	<div class="row">	
	  <div class="col-md-6">
	<fieldset>


		<h3 class='hidden-xs'><%= t :account_details %></h3>
		
	  <div class='form-group'>
			<%= f.label :email, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.email_field :email, :autofocus => true, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :password, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.password_field :password, :required => true %>
			</div>
		</div>
	
	  <div class='form-group'>
			<%= f.label :password_confirmation, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.password_field :password_confirmation, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :organic, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.select :organic, organic_options_for_select %>
			</div>
		</div>
		
	  <div class='form-group'>
			<%= f.label :gift_code, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :gift_code %>
			</div>
		</div>

	</fieldset>
</div>
  <div class="col-md-6">
	<fieldset>

		<h3><%= t :delivery_details %></h3>

	  <div class='form-group'>
			<%= f.label :name, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :name, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_street, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_street, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_locality, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_locality, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_postcode, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_postcode, :required => true %>
			</div>
		</div>
		
	</fieldset>
</div>
</div>
</p>


<script>
  $(function() {
    $('#user_gift_code').on("input", null, null, function(){
      if ($('#user_gift_code')[0].value.match(/[0-9a-f]{8}/)) {
        $('#pricing-details').slideUp();
        $('#payment-progress').fadeOut();
        $('.signup-button-small').val("<%= t(:signup_button_with_gift_code) %>");
        $('.signup-button-big').val("<%= t(:signup_button_with_gift_code) %>");
      } else {
        $('#pricing-details').slideDown();
        $('#payment-progress').fadeIn();
        $('.signup-button-small').val("<%= t(:signup_button_small) %>");
        $('.signup-button-big').val("<%= t(:signup_button_big) %>");
      }
    });
  });
</script>

<div align="center" id='pricing-details'>
	<p>Subscribe today for just £<%= price_string(1) %> (inc. VAT) per month, with free delivery, and no contractual tie-in or cancellation fee.</p>
</div>

  <div class='form-group'>
	  <div class='visible-xs col-lg-12'>
			<%= f.submit t(:signup_button_small), class: 'signup-button-small btn btn-primary btn-block btn-lg' %>
		</div>
	  <div class='hidden-xs col-lg-12'>
			<%= f.submit t(:signup_button_big), class: 'signup-button-big btn btn-primary btn-block btn-lg' %>
		</div>
	</div>
</div>

<div align="center">
 <p>By signing in you agree to our <%= link_to "Terms & Conditions", page_path("terms") %>.</p>
</div>

<% end %>
