<h1 class="hugeTitle">
	Account Details
</h1>
<div class=aboutUs>
	<p>
	<div class="hidden-xs progressBar">
		Subscribe <i class="icon-long-arrow-right"></i> <span class="progressHighlight">Account Details</span> <i class="icon-long-arrow-right"></i> GoCardless Payment Page <i class="icon-long-arrow-right"></i> Confirmation
	</div>
	</p>
	<p>



<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

	<div class="row">	
	  <div class="col-md-6">
	<fieldset>

		<h3 class='hidden-xs'><%= t :account_details %></h3>

	  <div class='form-group'>
			<%= f.label :email, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.email_field :email, :autofocus => true, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :password, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.password_field :password, :required => true %>
			</div>
		</div>
	
	  <div class='form-group'>
			<%= f.label :password_confirmation, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.password_field :password_confirmation, :required => true %>
			</div>
		</div>
	</fieldset>
</div>
  <div class="col-md-6">
	<fieldset>

		<h3><%= t :delivery_details %></h3>

	  <div class='form-group'>
			<%= f.label :name, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.text_field :name, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_street, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.text_field :address_street, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_locality, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.text_field :address_locality, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_postcode, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-12'>
				<%= f.text_field :address_postcode, :required => true %>
			</div>
		</div>
		
	</fieldset>
</div>
</div>
</p>
  <div class='form-group'>
	  <div class='visible-xs col-lg-12'>
			<%= f.submit "Proceed to payment", class: 'btn btn-primary btn-block btn-lg' %>
		</div>
	  <div class='hidden-xs col-lg-12'>
			<%= f.submit "Proceed to secure GoCardless payment page", class: 'btn btn-primary btn-block btn-lg' %>
		</div>
	</div>
</div>
<% end %>
