<h1 class="hugeTitle">
	Account Details
</h1>
<div class=aboutUs>
	<p>
	<div class="hidden-xs progressBar">
		Subscribe <i class="icon-long-arrow-right"></i> <span class="progressHighlight">Account Details</span> <span id='payment-progress'><i class="icon-long-arrow-right"></i> GoCardless Payment Page </span><i class="icon-long-arrow-right"></i> Confirmation
	</div>
	</p>
	<p>
		
<p>Joining SeedPod is incredibly simple. Just enter your details, select whether you'd prefer to receive organic or non-organic vegetable seeds, and select the size of growing space you have available. Choose 'balcony' to receive just one variety per month, designed for growing in containers or pots. Choose 'garden' for two different vegetable varieties each month. If you would like more details on the available options then take a look at our <%= link_to "How it Works", page_path("preview") %> page.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

	<div class="row">	
	  <div class="col-md-6">
	<fieldset>


		<h3 class='hidden-xs'><%= t :account_details %></h3>
		
	  <div class='form-group'>
			<%= f.label :email, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.email_field :email, :autofocus => true, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :password, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.password_field :password, :required => true %>
			</div>
		</div>
	
	  <div class='form-group'>
			<%= f.label :password_confirmation, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.password_field :password_confirmation, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :organic, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.select :organic, organic_options_for_select %>
			</div>
		</div>
		
	  <div class='form-group'>
		    <%= f.label :size, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
			    <%= f.select :size, size_options_for_select, selected: "medium" %>
			</div>
		</div>
		
	  <div class='form-group'>
			<%= f.label :gift_code, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :gift_code %>
			</div>
		</div>

	</fieldset>
</div>
  <div class="col-md-6">
	<fieldset>

		<h3><%= t :delivery_details %></h3>

	  <div class='form-group'>
			<%= f.label :name, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :name, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_street, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_street, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_locality, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_locality, :required => true %>
			</div>
		</div>

	  <div class='form-group'>
			<%= f.label :address_postcode, :class => 'col-lg-4 control-label' %>
		  <div class='col-lg-8'>
				<%= f.text_field :address_postcode, :required => true %>
			</div>
		</div>
		
	</fieldset>
</div>
</div>
</p>


<script>
  $(function() {
    $('#user_gift_code').on("input", null, null, function(){
      if ($('#user_gift_code')[0].value.match(/[0-9a-f]{8}/)) {
        $('#pricing-details').slideUp();
        $('#payment-progress').fadeOut();
        $('.signup-button-small').val("<%= t(:signup_button_with_gift_code) %>");
        $('.signup-button-big').val("<%= t(:signup_button_with_gift_code) %>");
      } else {
        $('#pricing-details').slideDown();
        $('#payment-progress').fadeIn();
        $('.signup-button-small').val("<%= t(:signup_button_small) %>");
        $('.signup-button-big').val("<%= t(:signup_button_big) %>");
      }
    });
  });
</script>

<div align="center" id='pricing-details'>
	<p>Price for your selection: <strong><span id='price'>£<%= price_string(1, true, "medium") %></span></strong> per month, with free delivery, and no contractual tie-in or cancellation fee.</p>
</div>

<script>

  function update_price() {
	  var organic = $('#user_organic')[0].value;
	  var size = $('#user_size')[0].value;
	  prices = {
  	    <% [false, true].each do |organic_state| %>
		  <%= organic_state %>: {
		  	<% ["small", "medium", "large"].each do |size_state| %>
  	          <%= size_state %>: "£<%= price_string(1, organic_state, size_state) %>",
	      	<% end %> 
		  },
	    <% end %> 
	  };    
	  $('#price').html(prices[organic][size]);
  }

  $('#user_organic').change(function(){
	update_price();
  });

  $('#user_size').change(function(){
	update_price();
  });
</script>

  <div class='form-group'>
	  <div class='visible-xs col-lg-12'>
			<%= f.submit t(:signup_button_small), class: 'signup-button-small btn btn-primary btn-block btn-lg' %>
		</div>
	  <div class='hidden-xs col-lg-12'>
			<%= f.submit t(:signup_button_big), class: 'signup-button-big btn btn-primary btn-block btn-lg' %>
		</div>
	</div>
</div>

<div align="center">
 <p>By signing in you agree to our <%= link_to "Terms & Conditions", page_path("terms") %>.</p>
</div>

<% end %>
