<h1 class="hugeTitle">Gift Subscriptions</h1>

<div class="aboutUs">
	
	<p>
		Know someone who would love to grow their own, but has never managed to get started? Perhaps you're looking for an original gift that's fun and great for the environment? We think our monthly vegetable seed and advice subscriptions make perfect gifts, especially as we cater for different budgets, and offer discounts too:
	</p>
	<p>
  	<div class="col-lg-6">
	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
			<td>Length</td>
			<td><%= t(:non_organic) %></td>
			<td><%= t(:organic) %></td>
			<td>Saving</td>
			</tr>
		</thead>
		<tbody>
      <% gift_code_lengths.each do |length| %>
  			<tr>
  				<td><%= length %> months</td>
  				<td>£<%= price_string(length)%></td>
  				<td>£<%= price_string(length, true)%></td>
  				<td><%= discount_string(length) if Pod.discount(months: length) > 0 %></td>
  			</tr>
      <% end %>
		</tbody>
	</table>
	</div>
	</div>
</p>
	<p>
	It really is easy peasy. Simply choose the size of the subscription you would like to buy, enter your details below, and pay via PayPal. With a gift voucher you can choose to print or email the unique code to the lucky recipient yourself, or instead let us email them directly on their special day! All they need to do is create their own SeedPod account with their gift code, and their first seeds will be with them in no time at all. Everytime they take a bite from one of their delicious homegrown vegetables, they will think of you! 
  </p>

  <%= form_for @gift_code, :html => {:class => 'form-horizontal'} do |f| %>

    <%= error_messages_for @gift_code %>

    <div class='form-group'>
    	<%= f.label :months, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
    		<%= f.select :months, gift_code_length_options_for_select, :required => true %>
    	</div>
    </div>
		
    <div class='form-group'>
    	<%= f.label :organic, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
    		<%= f.select :organic, organic_options_for_select, :required => true %>
    	</div>
    </div>
		
    <div class='form-group' id='price-row' style='display:none'>
    	<%= f.label "Price", :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
    		<p id='price' class='form-control-static'>£xx.xx</p>
    	</div>
    </div>

    <div class='form-group'>
    	<%= f.label :purchaser_name, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
    		<%= f.text_field :purchaser_name, :required => true %>
    	</div>
    </div>
		
    <div class='form-group'>
  		<%= f.label :purchaser_email, :class => 'col-lg-4 control-label' %>
  	  <div class='col-lg-8'>
  			<%= f.email_field :purchaser_email, :required => true %>
  		</div>
  	</div>
		
    <div class='form-group'>
    	<%= f.label :send_to_recipient, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
    		<%= f.select :send_to_recipient, [[t(:send_gift_code_to_purchaser), false], [t(:send_gift_code_to_recipient), true]], :required => true %>
    	</div>
    </div>
    
    <script>

      function updatePrice() {
        var months = $('#gift_code_months')[0].value;
        var organic = $('#gift_code_organic')[0].value;
        prices = {
          <% [false, true].each do |organic| %>
            <%= organic %>: {
              <% gift_code_lengths.each do |length| %>
                <%= length %>: "£<%= price_string(length, organic) %>",
              <% end %>
            },
          <% end %>
          
        };    
        $('#price').html(prices[organic][months]);
      }

      $(function() {

        $('#gift_code_months').change(function(){
          updatePrice();
        });
        $('#gift_code_organic').change(function(){
          updatePrice();
        });
        updatePrice();
        $('#price-row').show();
        
        $('#recipient-details').hide();
        $('#gift_code_send_to_recipient').change(function(){
          if ($('#gift_code_send_to_recipient')[0].value == "false") {
            $('#recipient-details').slideUp();
          } else {
            $('#recipient-details').slideDown();
          }
        });
      });

    </script>
    
    <div id='recipient-details'>

      <div class='form-group <%= "has-error" if @gift_code.errors.has_key? :recipient_name %>'>
      	<%= f.label :recipient_name, :class => 'col-lg-4 control-label' %>
        <div class='col-lg-8'>
      		<%= f.text_field :recipient_name %>
      	</div>
      </div>
		
      <div class='form-group <%= "has-error" if @gift_code.errors.has_key? :recipient_email %>'>
    		<%= f.label :recipient_email, :class => 'col-lg-4 control-label' %>
    	  <div class='col-lg-8'>
    			<%= f.email_field :recipient_email %>
    		</div>
    	</div>
		
      <div class='form-group <%= "has-error" if @gift_code.errors.has_key? :send_date %>'>
    		<%= f.label :send_date, :class => 'col-lg-4 control-label' %>
    	  <div class='col-lg-8'>
    			<%= f.date_field :send_date %>
    		</div>
    	</div>
		
    </div>

    <div class='form-group'>
      <div class='col-lg-12'>
		  	<p><%= f.submit "", id: 'pay-with-paypal' %></p>
        <p><%= image_tag "https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png", :class => 'img-responsive' %></p>
    	</div>
    </div>
	
  <% end %>
  
</div>