<h1 class="hugeTitle">
  Gift Subscriptions
</h1>
<div class="aboutUs">
  <p>
    Know someone who would love to grow their own, but has never managed to get started? Perhaps you're looking for an original gift that's fun and great for the environment? We think our monthly vegetable seed and advice subscriptions make perfect gifts, especially as we cater for different budgets, and offer discounts too. Every time they take a bite from one of their delicious homegrown vegetables, they will think of you!
  </p>
  <div style='max-width: 700px; margin-left: auto; margin-right:auto'>

    <div class="tab-content">
      <div class="tab-pane active" id="organic">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>
                    Length
                  </td>
                  <td>
                    <%= t(:small) %>
                  </td>
                  <td>
                    <%= t(:medium) %>
                  </td>
                  <td>
                    Saving
                  </td>
                </tr>
              </thead>
              <tbody>
                <% gift_code_lengths.each do |length| %>
                <tr>
                  <td>
                    <%= length %> months
                  </td>
                  <td>
                    £<%= price_string(length, true, "small")%>
                  </td>
                  <td>
                    £<%= price_string(length, true, "medium")%>
                  </td>
                  <td>
                    <%= discount_string(length) if Pod.discount(months: length) > 0 %>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="nonOrganic">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>
                    Length
                  </td>
                  <td>
                    <%= t(:small) %>
                  </td>
                  <td>
                    <%= t(:medium) %>
                  </td>
                  <td>
                    Saving
                  </td>
                </tr>
              </thead>
              <tbody>
                <% gift_code_lengths.each do |length| %>
                <tr>
                  <td>
                    <%= length %> months
                  </td>
                  <td>
                    £<%= price_string(length, false, "small")%>
                  </td>
                  <td>
                    £<%= price_string(length, false, "medium")%>
                  </td>
                  <td>
                    <%= discount_string(length) if Pod.discount(months: length) > 0 %>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
</div>
<div class='aboutUs'>
  <p>
    Simply choose whether you're buying organic or non-organic vegetable seeds, think about how large a growing space they have available, and finally choose the length of the subscription you would like to buy. You can then decide to send the unique code yourself, or let us do it for you.
  </p><%= form_for @gift_code, :html => {:class => 'form-horizontal'} do |f| %><%= error_messages_for @gift_code %>
  <div class='form-group'>
    <%= f.label :months, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.select :months, gift_code_length_options_for_select, :required => true %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :size, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.select :size, size_options_for_select %>
    </div>
  </div>
<div class='invisible'>
 <div class='form-group'>
    <%= f.label :organic, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.select :organic, organic_options_for_select, :required => true %>
    </div>
  </div>
</div>
  <div class='form-group' id='price-row' style='display:none'>
    <%= f.label "Price", :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <p id='price' class='form-control-static'>
        £xx.xx
      </p>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :purchaser_name, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :purchaser_name, :required => true %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :purchaser_email, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.email_field :purchaser_email, :required => true %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :send_to_recipient, :class => 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.select :send_to_recipient, [[t(:send_gift_code_to_purchaser), false], [t(:send_gift_code_to_recipient), true]], :required => true %>
    </div>
  </div><script type="text/javascript">

      function updatePrice() {
        var months = $('#gift_code_months')[0].value;
        var organic = $('#gift_code_organic')[0].value;
    var size = $('#gift_code_size')[0].value;
        prices = {
          <% [false, true].each do |organic_state| %>
            <%= organic_state %>: {
              <% gift_code_lengths.each do |length| %>
                <%= length %>: {
            <% ["small", "medium", "large"].each do |size_state| %>
          "<%= size_state %>": "£<%= price_string(length, organic_state, size_state) %>", 
                  <% end %>
        },
              <% end %>
            },
          <% end %>
          
        };    
        $('#price').html(prices[organic][months][size]);
      }

      $(function() {

        $('#gift_code_months').change(function(){
          updatePrice();
        });
        $('#gift_code_organic').change(function(){
          updatePrice();
        });
      $('#gift_code_size').change(function(){
        updatePrice();
      });
        updatePrice();
        $('#price-row').show();
        
        $('#recipient-details').hide();
        $('#gift_code_send_to_recipient').change(function(){
          if ($('#gift_code_send_to_recipient')[0].value == "false") {
            $('#recipient-details').slideUp();
          } else {
            $('#recipient-details').slideDown();
          }
        });
      });

  </script>
  <div id='recipient-details'>
    <div class='form-group &lt;%= "has-error" if @gift_code.errors.has_key? :recipient_name %&gt;'>
      <%= f.label :recipient_name, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
        <%= f.text_field :recipient_name %>
      </div>
    </div>
    <div class='form-group &lt;%= "has-error" if @gift_code.errors.has_key? :recipient_email %&gt;'>
      <%= f.label :recipient_email, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
        <%= f.email_field :recipient_email %>
      </div>
    </div>
    <div class='form-group &lt;%= "has-error" if @gift_code.errors.has_key? :send_date %&gt;'>
      <%= f.label :send_date, :class => 'col-lg-4 control-label' %>
      <div class='col-lg-8'>
        <%= f.date_field :send_date %>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-lg-12'>
      <p>
        <%= f.submit "", id: 'pay-with-paypal' %>
      </p>
      <p>
        <%= image_tag "https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png", :class => 'img-responsive' %>
      </p>
    </div>
  </div><% end %>
</div>
