<div style="border-width: 4px; border-style: solid; border-color: rgb(120/162/47); "> 
<div style="margin-left: 10px;">
<div style="font-family: gill sans;">
<div align="right">
</p>
	<img src="http://farm6.staticflickr.com/5473/9577220966_83466c00c6.jpg" 
		width="300">
</p>
</div>
<p>
	Hi <%= @purchaser_name %>,
</p> 
<p>Thank you for purchasing a SeedPod gift subscription for <%= @recipient_name %>!</p>

<p>
	You have purchased a gift subscription that will last for <%= @months %> months for <%= @price %>. The subscription will commence as soon as <%= @recipient_name %> uses their gift code to create an account. The gift code will be sent directly to them on <%= @send_date.to_s(:long) %>. They're going to be chuffed to bits!
</p>

<p>
	If you have any queries regarding the gift you've purchased, then please get in touch with us at <a href='mailto:greetings@getseedpod.com'>greetings@getseedpod.com</a>.
</p>

<p>
	Thank you once again!
</p>

<p>Best wishes,
	the SeedPod team</p>	

	<div style="font-size: smaller;"><p>SeedPod is a limited company registered in England and Wales. Registered number: 8469306. Registered office: 39 Bargate Rise, Godalming, Surrey, GU7 2LR.</p>
	</div>
	</div>
	</div>
	</div>