
<h1 class="hugeTitle">
Sneak Peek
</h1>
<div class="aboutUs">
<p>	We'll be despatching your first SeedPod at the beginning of next month. You will receive an email once your seeds are on their way, and your growing guidance will then become available to view. </p>

<p> Do remember to use our <%= link_to "Get Ready", page_path("getting_started") %> page to ensure you're prepared to start growing. But in the meantime you'll see below a sample of the monthly guidance that you'll be receiving:</p>

<div class="row">	
  <div class="col-md-12">
	  <div class="boxes">
	 
	  	<div class="miniAboutTitle">Sweetcorn</div>
	  
	  <p>
		<%= image_tag 'sweetcorn.jpg', class: "img-responsive pull-right", width:"400", Hspace:"10", Vspace:"10" %>
		It's sweetcorn time! And trust me, you've never truly tasted sweetcorn until it's been picked seconds before steaming and eating - utterly delicious. So, here's how we do it:
		<ol>
		<li>First of all - this is one of the few crops that need some consideration as to their location. They need lots of warmth and sunshine, and to be sown so the plants will grow in a grid pattern (ie three rows of four plants rather than one long row of twelve) to aid polination. Also remember to dig in some compost or manure before you plant to help them grow big and strong. </li>
		<li>Sow the seeds directly into the soil by making holes at least 30cm apart and a couple of cms deep. Drop a seed in each hole, fill with soil, and water well. It's important to keep them watered - which could mean remembering to water every day during the heat of summer. </li>
		<li>The seeds will need about 18&degC in order to start growing, so if it's chilly where you are, cover the soil with a clear plastic sheet or fleece to keep the soil warm. You should start to see your seedlings sprout in around 2 weeks, and if there are gaps in your grid of plants after three weeks, then sown any spare seeds to fill in. </li>
	</ol>
	</p>
	</div>
</div>
  <div class="col-md-4">
	<div class="boxes">
	  
	  	<div class="miniAboutTitle">French Beans</div>
	  
		<%= image_tag 'french.jpg', class: "img-responsive", Vspace:"10" %>
		<p>Your second packet of seeds for this month contains French Beans. These produce lots of beans over a good few weeks so can make a plentiful and reliable crop.</p><p> Plant two beans every 25cm in a line. French bean plants will grow approximately 5ft tall and the shoots will need something to climb; so, either plant in one long line close to a wall or fence, or in two rows about 80cm apart so that you can build them a bamboo and string A-frame. </p>
	</div>
</div>
  <div class="col-md-8">
  	<div class="boxes">
	  
	  	<div class="miniAboutTitle">Runner Beans</div>
	  
		<%= image_tag 'runner.jpg', class: "img-responsive pull-left", width:"250", Hspace:"10", Vspace:"10" %>
		<p>By now you should have some strong little runner bean plants. </p><p>They are going to grow to approximately 6ft in height and will need something against which to climb, so put a trellis on the wall or fence, or build a simple frame out of bamboo, but make sure it's at least 6ft tall and sturdy. You won't need to tie the plants to the trellis or frame - they will just wrap themselves around.</p> <p>If you have any gaps in between plants, remember to use any spare seeds, and if two plants grew too close together, remove the weakest plant.</p>
	</div>
</div>
  <div class="col-md-8">
	<div class="boxes">
	 
	  	<div class="miniAboutTitle">Courgette</div>
	  
	  <p>
  		<%= image_tag 'courgette.jpg', class: "img-responsive pull-right", width:"240", Hspace:"10", Vspace:"10" %>
		You should now be beginning to see some flowers and baby courgettes on your plant. Courgette plants produce a bountiful crop, so harvest them regularly when each fruit is 15-20cm in length, and remember to keep on top of them: it only takes a couple of days and they will grow to become marrows. The flowers are also tasty, so don't throw them away when you pick your fruit - simply add them in to a stir fry instead. </p><p>When picking each courgette, simply twist and pull, but be careful - the leaves and fruit have tiny hairs that can irritate your skin, so you may wish to wear gloves. You may also start to notice some white dusty marks on the larger leaves - don't worry this is quite common and is not harmful to you or the plant.
	</p>
	</div>
</div>
</div>
</div>
