<h1 class="hugeTitle">
    How it Works
</h1>

<div class="aboutUs">
	<p>Your seed subscription, and personalised growing guidance, have been designed to take the hassle and hard-work out of growing your own vegetables. You can throw away all those technical gardening books, and save yourself from having to browse through endless rows of seed packets at the garden centre. With SeedPod you're free to spend more time eating fresh and delicious home-grown food. You also get to do your bit to help the environment. If you'd like to feed your family on home-grown food, and to have fun doing it, here's how it works:</p>
	
<p>   
	<div class="panel-group" id="accordion">
   
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<div class="accordionTitle">1. Choose organic and size options</div>
			</a>
      </h4>
  </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">			
		  <p>
		<div id='instructions' class="row">	
		  <div class="col-md-12">
			  <div class="boxes">
				  <p>
				  <strong>Organic or not?</strong> Select whether you'd like to receive either organic or non-organic seeds. The vegetables types are the same for both, but the varieties will differ. We are certified with the Oganic Food Federation, and are very proud all our organic seeds have been harvested and processed following organic values and principles. We also provide a non-organic option for smaller budgets.
			  </p>
			  <p>
				  <strong>What size?</strong> The "Garden" size option is designed for those with a typical family-sized garden with a bit of space set aside for growing vegetables - so there's no need to turn the whole space into a veg plot. You will receive two varieties of vegetables each month, with corresponding month-by-month personalised advice taking you from sowing to eating.
				 </p>
				 <p> 
				 The "Balcony" size option is designed for small-space growing: you will only receive one vegetable variety each month that has been specifically chosen to grow well in pots or containers. This is the perfect option for people with a small courtyard garden or balcony. You will need a variety of pot sizes up to 33cm diameter for our bigger crops.
			  </p>
			  </div>
		  </div>
	  </div>
  </div>
</div>
</div>

	  	  <div class="panel panel-default">
	  	    <div class="panel-heading">
	  	      <h4 class="panel-title">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">			
				<div class="accordionTitle hidden-xs">2. The right seeds, delivered at the right time, ready for you to sow straight away</div>
				<div class="mobileAccordionTitle visible-xs">2. Receive different vegetable seed varieties each month</div>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">			
			  <p>
			<div id='instructions' class="row">	
			  <div class="col-md-12">
					  <p>
						 The SeedPod programme allows you to grow food throughout the year. It's varied and includes a range of vegetables to supplement your household diet. All of our seeds are chosen to be simple and easy to grow, with minimal equipment or prior knowledge required. Most of our organic and non-organic seeds have received the prestigious Award of Garden Merit from the Royal Horticultural Society, meaning that they produce excellent quality and quantity veggies. </p>
	    <div class="col-md-2">
		</div>
	
		<div class="col-md-8">
			  <div class="boxes">
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#garden" data-toggle="tab"><strong>Garden Size</strong></a></li>
					  <li><a href="#balcony" data-toggle="tab"><strong>Balcony Size</strong></a></li>
				  </ul>
				  <div class="tab-content">
					  <div class="tab-pane active" id="garden">
	  				 	<div class="table-responsive">
	  				 	<table class="table table-striped">
	  				 		<tbody>
					 			<tr>
					 				<td>January</td> 
									<td>Hot Pepper</td>
									<td>Beetroot</td> 									
								</tr>
					 			<tr>
					 				<td>February</td>
									<td>Dwarf French Beans</td> 
									<td>Parsnip</td>
					 			</tr>
					 			<tr>
					 				<td>March</td> 
									<td>Peas</td> 
									<td>Leek</td>
					 			</tr>
								<tr>
									<td>April</td>
									<td>Tomatoes</td> 
									<td>Calabrese</td>
  								<tr>
  									<td>May</td> 
  									<td>Courgette</td> 
									<td>Cabbage</td>
  								</tr>
  								<tr>
  									<td>June</td> 
  									<td>Carrots</td> 
									<td>Squash</td>
  								</tr>
  								<tr>
  									<td>July</td> 
  									<td>Chard</td> 
									<td>Runner Beans</td>
  								</tr>
  								<tr>
  									<td>August</td> 
  									<td>Radish</td>
									<td>Turnips</td>
  								</tr>
  								<tr>
  									<td>September</td> 
  									<td>Spring Onions</td> 
									<td>Oriental Cabbage</td>
  								</tr>
  								<tr>
  									<td>October</td>
  									<td>Rocket</td> 
									<td>Kale</td>
  								</tr>
  								<tr>
  									<td>November</td> 
  									<td>Broad Beans</td> 
									<td>Aubergine</td>
  								</tr>
  					 			<tr>
  					 				<td>December</td>
  					 				<td>Spinach</td> 
									<td>Cucumber</td>
  					 			</tr>
					 		</tbody>
					 	</table>
					   </div>
				   </div>
					  <div class="tab-pane" id="balcony">
  	  				 	<div class="table-responsive">
  	  				 	<table class="table table-striped">
  	  				 		<tbody>
					 			<tr>
					 				<td>January</td> 
									<td>Hot Pepper</td>
								</tr>
					 			<tr>
					 				<td>February</td>
									<td>Dwarf French Beans</td> 
					 			</tr>
					 			<tr>
					 				<td>March</td> 
									<td>Peas</td> 
					 			</tr>
								<tr>
									<td>April</td>
									<td>Tomatoes</td> 
  								<tr>
  									<td>May</td> 
  									<td>Courgette</td> 
  								</tr>
  								<tr>
  									<td>June</td> 
  									<td>Carrots</td> 
  								</tr>
  								<tr>
  									<td>July</td> 
  									<td>Chard</td> 
  								</tr>
  								<tr>
  									<td>August</td> 
  									<td>Radish</td>
  								</tr>
  								<tr>
  									<td>September</td> 
  									<td>Spring Onions</td> 
  								</tr>
  								<tr>
  									<td>October</td>
  									<td>Rocket</td> 
  								</tr>
  								<tr>
  									<td>November</td> 
  									<td>Broad Beans</td> 
  								</tr>
  					 			<tr>
  					 				<td>December</td>
  					 				<td>Spinach</td> 
  					 			</tr>
  					 		</tbody>
  					 	</table>
					  </div>
				  </div>
				</p>
				 	</div>
				 	</div>
				</div>
			</div>

		</p>
		  </div>
	    </div>
	</div>
	  </div>
	  
   
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
  				<div class="accordionTitle hidden-xs">3. Personalised guidance, tailored to help you care for your own plants</div>
				<div class="mobileAccordionTitle visible-xs">3. Access personalised growing guidance</div>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">	
	  <p>
		  And what are you going to do with those seeds once they start to grow? Well, leave the thinking and the research to us. We know what you're growing and when you planted it, so we tailor our advice specifically to what you need to know. Each month your personalised growing programme will tell you how to plant your seeds, and how to care for the ones already growing and you won't get any advice that doesn't apply to you. Here's a taster of what you will receive each month and, as you can see, we keep it simple and to the point:
	  </p>

	  <div id='instructions' class="row">	
	    <div class="col-md-12">
	  	  <div class="boxes">
	  	 	  	<div class="miniAboutTitle">Sweetcorn</div>
	  	  	  <p>
	  		<%= image_tag 'sweetcorn.jpg', class: "img-responsive pull-right", width:"400" %>
	  		It's sweetcorn time! And trust me, you've never truly tasted sweetcorn until it's been picked seconds before steaming and eating - utterly delicious. So, here's how we do it:
	  		<ol>
	  		<li>First of all - this is one of the few crops that needs some consideration as to its location. The seeds or seedlings need lots of warmth and sunshine, and to be sown so the plants will grow in a grid pattern (ie three rows of four plants rather than one long row of twelve) to aid pollination. Also remember to dig in some compost or manure before you plant to help them grow big and strong. </li>
	  		<li>Sow the seeds directly into the soil by making holes at least 30cm apart and a couple of cms deep. Drop a seed in each hole, fill with soil, and water well. It's important to keep them watered - which could mean remembering to water every day during the heat of summer. </li>
	  		<li>The seeds will need conditions to reach approximately 18 degrees Celsius in order to start growing, so if it's chilly where you are, cover the soil with a clear plastic sheet or fleece to keep the soil warm. You should start to see your seedlings sprout in around 2 weeks, and if there are gaps in your grid of plants after three weeks, then sow any spare seeds to fill in. </li>
	  	</ol>
	  	</p>
	  	</div>
	  </div>

	    <div class="col-md-4">
	  	<div class="boxes">
	  
	  	  	<div class="miniAboutTitle">French Beans</div>
	  
	  		<%= image_tag 'french.jpg', class: "img-responsive", Vspace:"10" %>
	  		<p>Your second packet of seeds for this month contains French Beans. These produce lots of beans over a good few weeks so can make a plentiful and reliable crop.</p><p> Plant two beans every 25cm in a line. French bean plants will grow approximately 5ft tall and the shoots will need something to climb; so, either plant in one long line close to a wall or fence, or in two rows about 80cm apart so that you can build them a bamboo and string A-frame. </p>
	  	</div>
	  </div>
	  
	    <div class="col-md-8">
	    	<div class="boxes">
	  
	  	  	<div class="miniAboutTitle">Runner Beans</div>
	  
	  		<%= image_tag 'runner.jpg', class: "img-responsive pull-left", width:"250", Hspace:"10", Vspace:"10" %>
	  		<p>By now you should have some strong little runner bean plants. </p><p>They are going to grow to approximately 6ft in height and will need something against which to climb, so put a trellis on the wall or fence, or build a simple frame out of bamboo, but make sure it's at least 6ft tall and sturdy. You won't need to tie the plants to the trellis or frame - they will just wrap themselves around.</p> <p>If you have any gaps in between plants, remember to use any spare seeds, and if two plants grew too close together, remove the weakest plant.</p>
	  	</div>
	  </div>
	    <div class="col-md-8">
	  	<div class="boxes">
	 
	  	  	<div class="miniAboutTitle">Courgette</div>
	  
	  	  <p>
	    		<%= image_tag 'courgette.jpg', class: "img-responsive pull-right", width:"240", Hspace:"10", Vspace:"10" %>
	  		You should now be beginning to see some flowers and baby courgettes on your plant. Courgette plants produce a bountiful crop, so harvest them regularly when each fruit is 15-20cm in length, and remember to keep on top of them: it only takes a couple of days and they will grow to become marrows. The flowers are also tasty, so don't throw them away when you pick your fruit - simply add them in to a stir fry instead. </p><p>When picking each courgette, simply twist and pull, but be careful - the leaves and fruit have tiny hairs that can irritate your skin, so you may wish to wear gloves. You may also start to notice some white dusty marks on the larger leaves - don't worry this is quite common and is not harmful to you or the plant.
	  	</p>
	  	</div>
	  </div>
	  </div>
	  </div>
      </div>
    </div>

</p>
</p>
  <p>
		  A SeedPod subscription in available from as little as £<%= price_string(1,false, "small")%> with free delivery, no contractual tie-in and no cancellation fee. Find out more on our <%= link_to "FAQ", page_path("faq") %> page, or subscribe today!
<div class="col-md-4">	
</div>
  <div class="col-md-4">
  <p>
  <% unless signed_in? %>
    <div class='form-group'>
    	<div align="center">
		    <%= link_to "SUBSCRIBE", new_user_registration_path, class: 'btn btn-lg btn-primary btn-block' %>
			<%= link_to "BUY A GIFT SUBSCRIPTION", new_gift_code_path, class: 'btn btn-lg btn-primary btn-block' %>
	    </div>
    </div>
  <% end %>
</p>
</p>
</div>
	
	

