<h1 class="hugeTitle">
    How it Works
</h1>

<div class="aboutUs">
	<p>Your seed subscription, and personalised growing guidance, have been designed to take the hassle and hard-work out of growing your own vegetables. No long and technical gardening books to read, and no endless rows of seed packets to trawl through. So, you're free to spend more time eating fresh and delicious home-grown food. You get to do your bit for the environment, feed your family and have fun doing it. Here's how:</p>
	
<p>   
	<div class="panel-group" id="accordion">
   
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<div class="accordionTitle hidden-xs">1. The right seeds, delivered at the right time, ready for you to plant straight away</div>
				<div class="mobileAccordionTitle visible-xs">1. Receive two different vegetable seed varieties each month</div>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse">
	      <div class="panel-body">			
			  <p>
			<div id='instructions' class="row">	
			  <div class="col-md-12">
				  <div class="boxes">
					  <p>
						 The SeedPod programme allows you to grow food throughout the year. It's varied and includes a range of vegetables to supplement your household diet. All of our seeds are chosen to be simple and easy to grow, with minimal equipment or prior knowledge required. Most of our organic and non-organic seeds have received the prestigious Award of Garden Merit from the Royal Horticultural Society (marked *), meaning that they produce excellent quality and quantity veggies. Here's what vegetables you can expect to receive each month (subject to availability): 
					</p>
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#organic" data-toggle="tab"><strong>Organic Calendar</strong></a></li>
					  <li><a href="#nonOrganic" data-toggle="tab"><strong>Non-Organic Calendar</strong></a></li>
				  </ul>
				  <div class="tab-content">
					  <div class="tab-pane active" id="organic">
	  				 	<div class="table-responsive">
	  				 	<table class="table table-striped">
	  				 		<tbody>
					 			<tr>
					 				<td>January</td> 
									<td>Hot Pepper (Habanero)*</td>
									<td>Beetroot (F1 Boro)*</td> 									
								</tr>
					 			<tr>
					 				<td>February</td>
									<td>Dwarf French Beans (Stanley)*</td> 
									<td>Parsnip (Tender and True)</td>
					 			</tr>
					 			<tr>
					 				<td>March</td> 
									<td>Peas (Ambassador)*</td> 
									<td>Leek (Atlanta)*</td>
					 			</tr>
								<tr>
									<td>April</td>
									<td>Tomatoes (Gardener's Delight)*</td> 
									<td>Calabrese (Waltham)</td>
  								<tr>
  									<td>May</td> 
  									<td>Courgette (Defender)*</td> 
									<td>Cabbage (Pixie)*</td>
  								</tr>
  								<tr>
  									<td>June</td> 
  									<td>Carrots (Flyaway)*</td> 
									<td>Squash (Waltham Butternut)*</td>
  								</tr>
  								<tr>
  									<td>July</td> 
  									<td>Chard (Rhubarb Chard)*</td> 
									<td>Runner Beans (Enorma)*</td>
  								</tr>
  								<tr>
  									<td>August</td> 
  									<td>Radish (Celesta)*</td>
									<td>Turnips (Purple Top Milan)</td>
  								</tr>
  								<tr>
  									<td>September</td> 
  									<td>Spring Onions (Ramrod)*</td> 
									<td>Oriental (Corn Salad vit)</td>
  								</tr>
  								<tr>
  									<td>October</td>
  									<td>Rocket (Cultivated Rocket)</td> 
									<td>Kale (Red Winter)</td>
  								</tr>
  								<tr>
  									<td>November</td> 
  									<td>Broad Beans (Super Aquadulce)</td> 
									<td>Aubergine (Black Beauty)</td>
  								</tr>
  					 			<tr>
  					 				<td>December</td>
  					 				<td>Spinach (F1 Palco)</td> 
									<td>Cucumber (Marketmore)*</td>
  					 			</tr>
					 		</tbody>
					 	</table>
					   </div>
				   </div>
					  <div class="tab-pane" id="nonOrganic">
  	  				 	<div class="table-responsive">
  	  				 	<table class="table table-striped">
  	  				 		<tbody>
					 			<tr>
					 				<td>January</td> 
									<td>Hot Pepper (Habanero)*</td>
									<td>Beetroot (Boltardy)*</td> 									
								</tr>
					 			<tr>
					 				<td>February</td>
									<td>Dwarf French Beans (The Prince)*</td> 
									<td>Parsnip (White Gem)</td>
					 			</tr>
					 			<tr>
					 				<td>March</td> 
									<td>Peas (Hurst Greenshaft)*</td> 
									<td>Leek (Longbow)*</td>
					 			</tr>
								<tr>
									<td>April</td>
									<td>Tomatoes (Gardener's Delight)*</td> 
									<td>Calabrese (Kabuki)*</td>
  								<tr>
  									<td>May</td> 
  									<td>Courgette (Zucchini)</td> 
									<td>Cabbage (Glory of Enkhuizen)</td>
  								</tr>
  								<tr>
  									<td>June</td> 
  									<td>Carrots (Flyaway)*</td> 
									<td>Squash (Waltham Butternut)*</td>
  								</tr>
  								<tr>
  									<td>July</td> 
  									<td>Chard (Rhubarb Chard)*</td> 
									<td>Runner Beans (Enorma)*</td>
  								</tr>
  								<tr>
  									<td>August</td> 
  									<td>Radish (Cherry Belle)*</td>
									<td>Turnips (Purple Top Milan)</td>
  								</tr>
  								<tr>
  									<td>September</td> 
  									<td>Spring Onions (Ramrod)*</td> 
									<td>Oriental (Oriental Mix)</td>
  								</tr>
  								<tr>
  									<td>October</td>
  									<td>Rocket (Cultivated Rocket)</td> 
									<td>Kale (Red Winter)</td>
  								</tr>
  								<tr>
  									<td>November</td> 
  									<td>Broad Beans (Aquadulce)*</td> 
									<td>Aubergine (Black Beauty)</td>
  								</tr>
  					 			<tr>
  					 				<td>December</td>
  					 				<td>Spinach (Amazon)*</td> 
									<td>Cucumber (Marketmore)*</td>
  					 			</tr>
  					 		</tbody>
  					 	</table>
					  </div>
				  </div>
				</p>
				 	</div>
				 	</div>
				</div>
			</div>

		</p>
		  </div>
	    </div>
	  </div>
  </div>
   
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
  				<div class="accordionTitle hidden-xs">2. Personalised information and guidance, tailored to help you care for your own plants</div>
				<div class="mobileAccordionTitle visible-xs">2. Access personalised growing guidance</div>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">	
	  <p>
		  And what are you going to do with those seeds once they start to grow? Well, leave the thinking and the research to us. We know what you're growing and when you planted it, so we tailor our advice specifically to what you need to know. Each month your personalised growing programme will tell you how to plant your seeds, and how to care for the ones already growing. Here's a taster of what you will receive each month and, as you can see, we keep it simple and to the point:
	  </p>

	  <div id='instructions' class="row">	
	    <div class="col-md-12">
	  	  <div class="boxes">
	  	 	  	<div class="miniAboutTitle">Sweetcorn</div>
	  	  	  <p>
	  		<%= image_tag 'sweetcorn.jpg', class: "img-responsive pull-right", width:"400" %>
	  		It's sweetcorn time! And trust me, you've never truly tasted sweetcorn until it's been picked seconds before steaming and eating - utterly delicious. So, here's how we do it:
	  		<ol>
	  		<li>First of all - this is one of the few crops that needs some consideration as to its location. The seeds or seedlings need lots of warmth and sunshine, and to be sown so the plants will grow in a grid pattern (ie three rows of four plants rather than one long row of twelve) to aid pollination. Also remember to dig in some compost or manure before you plant to help them grow big and strong. </li>
	  		<li>Sow the seeds directly into the soil by making holes at least 30cm apart and a couple of cms deep. Drop a seed in each hole, fill with soil, and water well. It's important to keep them watered - which could mean remembering to water every day during the heat of summer. </li>
	  		<li>The seeds will need conditions to reach approximately 18 degrees Celsius in order to start growing, so if it's chilly where you are, cover the soil with a clear plastic sheet or fleece to keep the soil warm. You should start to see your seedlings sprout in around 2 weeks, and if there are gaps in your grid of plants after three weeks, then sow any spare seeds to fill in. </li>
	  	</ol>
	  	</p>
	  	</div>
	  </div>

	    <div class="col-md-4">
	  	<div class="boxes">
	  
	  	  	<div class="miniAboutTitle">French Beans</div>
	  
	  		<%= image_tag 'french.jpg', class: "img-responsive", Vspace:"10" %>
	  		<p>Your second packet of seeds for this month contains French Beans. These produce lots of beans over a good few weeks so can make a plentiful and reliable crop.</p><p> Plant two beans every 25cm in a line. French bean plants will grow approximately 5ft tall and the shoots will need something to climb; so, either plant in one long line close to a wall or fence, or in two rows about 80cm apart so that you can build them a bamboo and string A-frame. </p>
	  	</div>
	  </div>
	  
	    <div class="col-md-8">
	    	<div class="boxes">
	  
	  	  	<div class="miniAboutTitle">Runner Beans</div>
	  
	  		<%= image_tag 'runner.jpg', class: "img-responsive pull-left", width:"250", Hspace:"10", Vspace:"10" %>
	  		<p>By now you should have some strong little runner bean plants. </p><p>They are going to grow to approximately 6ft in height and will need something against which to climb, so put a trellis on the wall or fence, or build a simple frame out of bamboo, but make sure it's at least 6ft tall and sturdy. You won't need to tie the plants to the trellis or frame - they will just wrap themselves around.</p> <p>If you have any gaps in between plants, remember to use any spare seeds, and if two plants grew too close together, remove the weakest plant.</p>
	  	</div>
	  </div>
	    <div class="col-md-8">
	  	<div class="boxes">
	 
	  	  	<div class="miniAboutTitle">Courgette</div>
	  
	  	  <p>
	    		<%= image_tag 'courgette.jpg', class: "img-responsive pull-right", width:"240", Hspace:"10", Vspace:"10" %>
	  		You should now be beginning to see some flowers and baby courgettes on your plant. Courgette plants produce a bountiful crop, so harvest them regularly when each fruit is 15-20cm in length, and remember to keep on top of them: it only takes a couple of days and they will grow to become marrows. The flowers are also tasty, so don't throw them away when you pick your fruit - simply add them in to a stir fry instead. </p><p>When picking each courgette, simply twist and pull, but be careful - the leaves and fruit have tiny hairs that can irritate your skin, so you may wish to wear gloves. You may also start to notice some white dusty marks on the larger leaves - don't worry this is quite common and is not harmful to you or the plant.
	  	</p>
	  	</div>
	  </div>
	  </div>
	  </div>
      </div>
    </div>

</p>
</p>
  <p>
		  An organic SeedPod subscription is just £6.95 per month (or £5.95 for non-organic), with free delivery, no contractual tie-in and no cancellation fee. Find out more on our <%= link_to "FAQ", page_path("faq") %> page or, if you like what you see, subscribe today!
<div class="col-md-4">	
</div>
  <div class="col-md-4">
  <p>
  <% unless signed_in? %>
    <div class='form-group'>
    	<div align="center">
		    <%= link_to "SUBSCRIBE", new_user_session_path, class: 'btn btn-lg btn-primary btn-block' %>
			<%= link_to "BUY A GIFT SUBSCRIPTION", new_gift_code_path, class: 'btn btn-lg btn-primary btn-block' %>
	    </div>
    </div>
  <% end %>
</p>
</p>
</div>
	
	

