<h1 class="hugeTitle">
  	Get Growing
</h1>

<div class ="aboutUs">
  <div class="row">	
    <p>
      <div class="col-md-6">
        <div class="boxes">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <p><div class="miniAboutTitle">Already a Member?</div></p>
 

              <div class='form-group'>
                <%= f.label :email, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.email_field :email, autofocus: true, required: true %>
                </div>
              </div>	
              <div class='form-group'>
                <%= f.label :password, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.password_field :password, required: true %>
  		            <br/>
                  <%= render "devise/shared/links" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class='form-group'>
                  <small><%= f.label :remember_me, :class => 'col-lg-5 control-label' %></small>
                  <div class='col-lg-7'>
                    <%= f.check_box :remember_me %>
                  </div>
                </div>
              <%end%>
              <div class='form-group'>
                <div class='col-lg-12'>
                  <%= f.submit "Log in", :class => 'btn btn-lg btn-default btn-block' %>
                </div>
              </div>
		
            </fieldset>
          <% end %>
        </div>
      </p>
      <p>By signing in you agree to our <%= link_to "Terms & Conditions", page_path("terms") %>.</p>
	  <p>We use cookies throughout our website. For more information please see our <%= link_to "Privacy & Cookies", page_path("privacy_and_cookies") %> page.</p>

    </div>

    <div class="col-md-6">
      <div class="boxes">
        <p><div class="miniAboutTitle">Join us!</div></p>
        <fieldset>
		<p>Subscribe today for just £6 per month and our unique growing programme will provide:</p>
        <ul>
          <li>Two varieties of seasonally appropriate vegetable seeds each month</li> 
          <li>Access to your own personalised step-by-step growing guidance, tailored to the seeds you've received, and detailing advice on sowing your seeds, caring for your plants, and when may be the best time to harvest your crop.</li> 
          <li>'Get Ready' advice to prepare for your first pod</li> 
        </ul>
        <div class='form-group'>
          <div class='col-lg-12'>
            <%= link_to "SUBSCRIBE", new_user_registration_path, class: 'btn btn-lg btn-primary btn-block' %>
          </div>
        </div>
       	<p>The December pod contains seeds to grow chilli plants, as well as cucumbers - but (because setting up direct debits may take longer over Christmas) will only be available for those joining before Thursday 19 December. Don't miss out, join today!</p>
		<p>Alternatively why not give a SeedPod subscription as a gift for someone you love this Christmas?</p>
        <div class='form-group'>
          <div class='col-lg-12'>
				<%= link_to "BUY A GIFT SUBSCRIPTION", new_gift_code_path, class: 'btn btn-lg btn-primary btn-block' %>
            </div>
          </div>
          <p>Need more info? Check out our <%= link_to "How it Works", page_path("preview") %> page, or take a look at our <%= link_to "Frequently Asked Questions", page_path("faq") %>.</p>
  
        </fieldset>
      </div>
    </div>
  </div>

</div>