<h1 class="hugeTitle">
  	Sign In 
</h1>

<div class ="aboutUs">
  <div class="row">	
    <p>
      <div class="col-md-6">
        <div class="boxes">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <p><div class="miniAboutTitle">Already a Member?</div></p>
 

              <div class='form-group'>
                <%= f.label :email, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.email_field :email, autofocus: true, required: true %>
                </div>
              </div>	
              <div class='form-group'>
                <%= f.label :password, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.password_field :password, required: true %>
  		            <br/>
                  <%= render "devise/shared/links" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class='form-group'>
                  <small><%= f.label :remember_me, :class => 'col-lg-5 control-label' %></small>
                  <div class='col-lg-7'>
                    <%= f.check_box :remember_me %>
                  </div>
                </div>
              <%end%>
              <div class='form-group'>
                <div class='col-lg-12'>
                  <%= f.submit "Log in", :class => 'btn btn-lg btn-default btn-block' %>
                </div>
              </div>
		
            </fieldset>
          <% end %>
	      <p>By signing in you agree to our <%= link_to "Terms & Conditions", page_path("terms") %>.</p>
		  <p>We use cookies throughout our website. For more information please see our <%= link_to "Privacy & Cookies", page_path("privacy_and_cookies") %> page.</p>
        </div>
      </p>


    </div>

    <div class="col-md-6">
      <div class="boxes">
        <fieldset>
			 <p><div class="miniAboutTitle">Not yet a member?</div></p>
<!--
			<div align="center">
			
		<p>Not yet a member?</p>
	</div>
-->
	We're very sorry to report that we are not currently taking on new SeedPod members. We apologise for any inconvenience caused. 
	<!--
        <div class='form-group'>
          <div class='col-lg-12'>
            <%= link_to "SUBSCRIBE", new_user_registration_path, class: 'btn btn-lg btn-primary btn-block' %>
          </div>
        </div>
		<div align="center">
		<p>Our subscriptions also make a great gift to send on a special occasion - it's the present that keeps on growing!</p>
	</div>
        <div class='form-group'>
          <div class='col-lg-12'>
				<%= link_to "BUY A GIFT SUBSCRIPTION", new_gift_code_path, class: 'btn btn-lg btn-primary btn-block' %>
            </div>
          </div>
-->
        </fieldset>
      </div>
    </div>
  </div>

</div>