<h1 class ="hugeTitle">
  Get Growing
</h1>

<div class ="aboutUs">
  <div class="row">	
    <p>
      <div class="col-md-5">
        <div class="boxes">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
            <fieldset>
              <p><div class="miniAboutTitle">SeedPodders</div></p>
 

              <div class='form-group'>
                <%= f.label :email, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.email_field :email, autofocus: true, required: true %>
                </div>
              </div>	
              <div class='form-group'>
                <%= f.label :password, :class => 'col-lg-5 control-label' %>
                <div class='col-lg-7'>
                  <%= f.password_field :password, required: true %>
  		
                  <%= render "devise/shared/links" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class='form-group'>
                  <%= f.label :remember_me, :class => 'col-lg-5 control-label' %>
                  <div class='col-lg-7'>
                    <%= f.check_box :remember_me %>
                  </div>
                </div>
              <%end%>
              <div class='form-group'>
                <div class='col-lg-12'>
                  <%= f.submit "Log in", :class => 'btn-block' %>
                </div>
              </div>
		
            </fieldset>
          <% end %>
        </div>
      </p>
      <p>By signing in you agree to our <%= link_to "Terms and Conditions", page_path("terms") %></p>
      <p>We promise we will never sell, rent or share any of your data to/with a third party.</p>
	  <p>We do use cookies throughout the site. More information as to how we use cookies can be found in the Privacy secion of our <%= link_to "Any Questions", page_path("faq") %> page</p>

    </div>

    <div class="col-md-7">
      <div class="boxes">
        <p><div class="miniAboutTitle">Not yet a SeedPodder</div></p>
        <fieldset>
          <p>Welcome to SeedPod. We'd love you to have you on board. Here's what you'll get from our unique growing programme if you subscribe:</p>
          <ul>
            <li>Receive two varieties of seasonally appropriate vegetable seeds each month</li> 
            <li>Gain access to our monthly step-by-step guidance</li> 
            <li>Prepare for your first pod with our "Get Ready" advice</li> 
          </ul>
          <p>All for just £6.00 per month, with free p&p, and no contractual tie-in.</p>
		  <p>We send out our seeds and make our "This Month" guidance available on the first of each month. But, until that date, you will have access to our "Get Ready" page to help prepare for your first delivery.</p>
	


          <div class='form-group'>
            <div class='col-lg-12'>
              <%= link_to "Subscribe", new_user_registration_path, :class => 'btn btn-block' %>
            </div>
          </div>
          <p>Need more info? Check out our <%= link_to "Any Questions", page_path("faq") %> page, or take a look at our <%= link_to "Sneak Peek", page_path("preview") %> growing guidance page.</p>
  
        </fieldset>
      </div>
    </div>
  </div>

</div>