<div id="logo">
  <%= image_tag 'logo-with-text.png', width:"100%"%>
</div>

<div class='tagline'>
  Simple, organic growing, all year round
</div>


<!--<div class='tagline'>
  <p>
    <% if user_signed_in? %>
      <%= link_to "This Month's Pod", '/pods/this_month', class: 'btn btn-xlarge btn-warning'%>
    <% else %>
      <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-xlarge btn-warning'%>
    <% end %>
  </p>
</div>-->
<!--
<div class="row">	
<div class="intros">
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
    <h1><i>Get</i></h1>
	<ul class="icons-ul">
		<li><i class="icon-li icon-leaf"></i>Two vegetable seed varieties each month</li>
		<li><i class="icon-li icon-leaf"></i>Delivered straight through your letterbox</li>
		
	</ul>
    </div> 
  </div>	
  </div>
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
	<h1><i>Grow</i></h1>
	<ul>
		<li>The right seeds at the right time</li>
		<li>Nothing to remember or research</li>
		<li>Monthly step-by-step guidance to get the most out of your plants</li>
	</ul>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="box">	  
	<div class="words">  
    <h1><i>Eat</i></h1>
	<ul>
		<li>Maximise and prolong your harvest</li>
		<li>Enjoy fresh and tasty veg straight off the plant</li>
	</ul>
    </div>
  </div>
  </div>
</div>  
</div>
-->

<div class='row'>
  
  <div class='col-xs-1 carousel-control-container left'>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="icon-chevron-sign-left icon-3x"></span>
    </a>
  </div>
  
  <div id='myCarousel' class='col-xs-10 carousel slide'>
    <div class="carousel-inner">
      <div class="item active">
        <div class="miniTitle"><p><i class="icon-li icon-home icon-large"></i>Simple</p></div>
    	  <div class="words">
    			<p>Two organic vegetable seed varieties each month</p>
    			<p>Delivered straight through your letterbox</p>
    			<p>Receive the right seeds, at the right time</p>
  		  </div>
      </div>
  	  <div class="item">
    	  <div class="miniTitle"><p><i class="icon-li icon-leaf icon-large"></i>Guided Growing</p></div>
        <div class="words">
    	    <p>Monthly, step-by-step, personalised growing guidance</p>
  	  		<p>Nothing to remember or research</p>
  	  		<p>No prior knowledge or experience required</p>
    		</div>
  	  </div>
  	  <div class="item">
  		   <div class="miniTitle"><p><i class="icon-li icon-calendar icon-large"></i>All Year Round</p></div>
  		   <div class="words">
  		     <p>Maximise and prolong your harvest</p>
  		  	 <p>Enjoy fresh and tasty veg straight from the plant</p>
           <p>Improve your diet, and reduce your food miles</p>
  		   </div>
  	  </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

  </div>
  
  <div class='col-xs-1 carousel-control-container right'>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="icon-chevron-sign-right icon-3x"></span>
    </a>
  </div>  
  
  <script>
    $('.carousel').carousel({interval:7000})
  </script>

</div>

  <p>
<div class="col-md-4">	
</div>
  <div class="col-md-4">
  <p>

    <div class='form-group'>
    	<div align="center">
  <% unless signed_in? %>
  		    <%= link_to "SUBSCRIBE", new_user_session_path, class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
			<%= link_to "BUY A GIFT SUBSCRIPTION", new_gift_code_path, class: 'btn btn-lg btn-primary btn-block' %>
	    </div>
    </div>

</p>
</p>
</div>