<div id="logo">
  <%= image_tag 'seedpod-logo-long.svg'%>
</div>

<div class='tagline'>
  Guided growing, for tasty veg all year round
</div>

<div class='tagline'>
  <p>
    <% if user_signed_in? %>
      <%= link_to "This Month's Pod", '/pods/this-month', class: 'btn btn-xlarge btn-warning'%>
    <% else %>
      <%= link_to 'Get Growing', new_user_registration_path, class: 'btn btn-xlarge btn-warning'%>
    <% end %>
  </p>
</div>

    <!--
<div class="boxed">
  <div class="hfur">	
    <div class="row">	
      <div class="span3">
        <div class="box">  
          <h2>Get</h2><%= image_tag 'get.svg'%>
          For just £6.00 per month, receive 2 types of vegetable seeds delivered straight through your letterbox    
      	</div>
      </div>
      <div class="span3">
        <div class="box">
      	<h2>Sow</h2><%= image_tag 'sow.svg'%>
          Follow our bespoke growing programme to sow the right seeds at the right time following simple instructions
      	</div>
      </div>
      <div class="span3">
        <div class="box">
      	<h2>Care</h2><%= image_tag 'care.svg'%>
          Nurture your plants to grow big and strong following our tutorials and guidance every step of the way
      	</div>
    	</div>
      <div class="span3">
        <div class="box">
        <h2>Eat</h2><%= image_tag 'eat.svg'%>
        We advise you when the time may be right to harvest your crops and enjoy fresh and tasty veg, straight off the plant
    	</div>
      </div>
  	</div>
  </div>
</div>
-->