<div class="hugeTitle"><%= @pod.month.strftime("%B %Y") %></div>

<p>
  <%= @pod.summary %>
</p>
<div class="row">
<% @pod.instructions.each do |instruction| %>
<div class="col-md-4">
  <h2><%= instruction.crop.name %></h2>

  <%= image_tag "seeds.jpg", :width => 360%>
  <p class="lead"><%= instruction.summary %></p>

  <p><%= instruction.detail %></p>
</div>
<% end %>
</div>