<h1><%= @pod.month.strftime("%B %Y") %></h1>

<p>
  <%= @pod.summary %>
</p>

<% @pod.instructions.each do |instruction| %>

  <h2><%= instruction.crop.name %></h2>

  <img src='http://placekitten.com/100/100' class='pull-right img-polaroid'>
  <p class="lead"><%= instruction.summary %></p>

  <p><%= instruction.detail %></p>

<% end %>