<h1 class="hugeTitle"><%= @pod.month.strftime("%B %Y") %></h1>

<div class="aboutUs">
  <p>
    <%= @pod.summary %>
  </p>
</div>

<div class="row" id="instructions">
	
  <% @pod.instructions.each do |instruction| %>

    <% if instruction.visible_to?(current_user) %>

    	<div class="boxes">
        <div class=miniAboutTitle><%= instruction.crop.name %></div>

        <% if instruction.image_url %>
          <%= image_tag instruction.image_url, class: "img-responsive pull-right", width:"300" %>
        <% end %>
        <p><b><%= kramdown instruction.summary %></b></p>

        <p><%= kramdown instruction.detail %></p>
      </div>
  
    <% end %>

  <% end %>
  
</div>