<h1>Shipments for <%= @pod.month.strftime("%Y-%m") %></h1>
<% unless params[:all] == 'true' %>
  <p><small><%= link_to 'Show all shipments', pod_shipments_path(@pod, :all => true) %></small></p>
<% end %>

<table class='table table-striped'>
  <tr>
    <th>User</th>
    <th>Address</th>
    <th>Crops</th>
    <th>Status</th>
  </tr>
  <% @shipments.each do |shipment| %>
    <tr>
      <td><%= shipment.user.email %></td>
      <td><%= shipment.user.address %></td>
      <td><%= shipment.crops.map{|x| x.name}.join(', ') %></td>
      <td>
        <% if shipment.shipped %>
          <span class="label label-success">Shipped</span>
        <% else %>
          <a href='#' class='btn btn-danger btn-mini'>Ship It!</a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>