<div class="social">
  
  <span class='icon-stack icon-2x'>
    <%= link_to"
  	  <i class='icon-circle icon-stack-base'></i>
  	  <i class='icon-twitter'></i>".html_safe, 'https://twitter.com/seedpod', title: '@SeedPod on Twitter', :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
  </span>
  
  <span class='icon-stack icon-2x'>
    <%= link_to"
  	  <i class='icon-circle icon-stack-base'></i>
  	  <i class='icon-facebook'></i>".html_safe, 'https://www.facebook.com/getseedpod', title: 'Seedpod on Facebook', :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
  </span>
  
  <span class='icon-stack icon-2x'>
    <%= link_to"
  	  <i class='icon-circle icon-stack-base'></i>
  	  <i class='icon-envelope'></i>".html_safe, 'mailto:greetings@getseedpod.com', title: 'Contact Us', :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
  </span>
  
  <% if signed_in? %>
    <span class='icon-stack icon-2x'>
      <%= link_to"
    	  <i class='icon-circle icon-stack-base'></i>
    	  <i class='icon-cog'></i>".html_safe, edit_user_registration_path, title: 'Account', id: 'account-link', :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
    </span>
    <span class='icon-stack icon-2x'>
      <%= link_to"
  	  	<i class='icon-circle icon-stack-base'></i>
  	  	<i class='icon-signout'></i>".html_safe, destroy_user_session_path, method: :delete, title: 'Sign out', :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
    </span>
        
    <% if admin_signed_in? %>
  	  <ul class="nav pull-left">
	      <li><%= link_to 'Shipments', pod_shipments_path(Pod.currently_shipping) %></li>
	      <li><%= link_to 'Administration', '/administration' %></li>
      </ul>
	  <% end %>
	<% else %>
    <span class='icon-stack icon-2x'>
      <%= link_to"
    	  <i class='icon-circle icon-stack-base'></i>
    	  <i class='icon-signin'></i>".html_safe, new_user_session_path, title: 'Sign in', id: 'signin-link' , :'data-toggle'=>"tooltip", :'data-placement' => 'bottom', :class => 'tooltip-enable' %>
    </span>
	<% end %>
  
  <script>
    $(document).ready(function() {
      $('.tooltip-enable').tooltip();
    });
  </script>
  
</div> 