<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SeedPod - Simple, guided-vegetable-growing, all year round</title>
    <meta tag="description=" content="A monthly vegetable seed subscription service and guided growing programme. Growing your own food has never been simpler or more convenient.">
    <meta name="google-site-verification" content="BIbbMgXv1dXBxDmKoZ9viuEDEpZvUv5lPx7ZZGOqfOE" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icon.png'%>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class='<%= @body_class %>'>

    <%= render partial: 'layouts/main_nav' %>
    
    <%= render partial: 'layouts/top_nav' %>
		
    <div class='container'>
    
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

      <%= render 'subscriptions/alert' %>

      <%= yield %>
    
    </div>

  </body>
</html>
