<!DOCTYPE html>
<html lang="en">
<head>
  <title>SeedPod</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png'%>
</head>
<body class='<%= @body_class %>'>

  <nav class="navbar navbar-fixed-bottom" role="navigation">
    <ul class="nav navbar-nav navbar-left">
    	<% if signed_in? %>
    	  <li><%= link_to "Get Ready", page_path("getready") %></li>
    	<% else %>
        <li><%= link_to "Subscribe", new_user_session_path %></li>
      <% end %>
      <li><a href="/pods/this-month">This Month</a></li>
    </ul>
    <ul class="nav navbar-nav">
  		<li><%= link_to image_tag("icon.png"), root_url %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About Us", page_path("about") %></li>
      <li><%= link_to "FAQ", page_path("faq") %></li>
    </ul>
  </nav>
    
  <ul class="nav pull-right">
    <% if admin_signed_in? %>
      <li><%= link_to 'Shipments', pod_shipments_path(Pod.next_to_ship) %></li>
      <li><%= link_to 'Administration', '/administration' %></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to 'My Account', edit_user_registration_path %></li>
    <% end %>
    <% if signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
		
  <div class='container'>
    
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

    <%= yield %>
    
  </div>

</body>
</html>
