<!DOCTYPE html>
<html lang="en">
<head>
  <title>SeedPod</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png'%>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
</head>
<body class='<%= @body_class %>'>

  <nav class="navbar navbar-fixed-bottom" role="navigation">
    <div class="container">                          
      <ul class="nav navbar-nav">
	  
      	<% if signed_in? %>
      	  <li><%= link_to "Get Ready", page_path("getready") %></li>
          <li><a href="/pods/this-month">This Month</a></li>
      	<% else %>
          <li><%= link_to "Get Growing", new_user_session_path %></li>
          <li><%=link_to "This Month", page_path("preview")%></li>
        <% end %>
	  
     	  <li class='navbar-logo'><%= link_to image_tag(@body_class == 'homepage' ? "icon-hdpi.png" : "icon-white.png"), root_url %></li>
      
		  <li><%= link_to "About Us", page_path("about") %></li>
          <li><%= link_to "Any Questions?", page_path("faq") %></li>	  
      </ul>
    </div>
  </nav>
    
  <ul class="nav pull-right">
    <% if admin_signed_in? %>
      <li><%= link_to 'Shipments', pod_shipments_path(Pod.next_to_ship) %></li>
      <li><%= link_to 'Administration', '/administration' %></li>
	  <li><%= link_to 'My Account', edit_user_registration_path %></li>
    <% end %>
<div class="social">
  <a href="https://twitter.com/seedpod"><span class="icon-stack icon-2x">
	  <i class="icon-circle icon-stack-base"></i>
	  <i class="icon-twitter"></i></a>
  </span>
  <a href="https://www.facebook.com/getseedpod"><span class="icon-stack icon-2x">
	  <i class="icon-circle icon-stack-base"></i>
	  <i class="icon-facebook"></i></a>
  </span>
  <a href="mailto:greetings@getseedpod.com"><span class="icon-stack icon-2x">
	  <i class="icon-circle icon-stack-base"></i>
	  <i class="icon-envelope"></i></a>
  </span>
  <%= link_to"<span class='icon-stack icon-2x'>
	  <i class='icon-circle icon-stack-base'></i>
	  <i class='icon-cog'></i>
  </span>".html_safe, edit_user_registration_path, title: 'account settings' %>
</div>  



<!--    <% if user_signed_in? %>
      <li><%= link_to 'My Account', edit_user_registration_path %></li>
    <% end %>
-->    <% if signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
		
  <div class='container'>
    
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

    <%= yield %>
    
  </div>

</body>
</html>
