<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seedpod</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Seedpod</a>
      <ul class="nav">
        <li><a href="/pods/this-month">This Month</a></li>
      </ul>
    </div>
  </div>

  <div class='container'>
    
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

    <%= yield %>
    
  </div>

  <div class='container'>
    <footer>
      &copy; 2013 Seedpod
    </footer>
  </div>


</body>
</html>
