<!DOCTYPE html>
<html lang="en">
<head>
  <title>SeedPod</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/app/assets/images/logo.png"/>
</head>
<body>

  <div class="navbar<% if admin_signed_in? %> navbar-inverse<% end %>">
    <div class="navbar-inner">
      <a class="brand" href="/"> <%= img_tag 'logo.png' %> SeedPod<% if admin_signed_in? %> Admin<% end %></a>
      <ul class="nav">
        <li><a href="/pods/this-month">This Month</a></li>
        <li><%= link_to "FAQ", page_path("faq") %></li>
		<li><%= link_to "About us", page_path("about") %></li>

        <% if admin_signed_in? %>
          <li><%= link_to 'Shipments', pod_shipments_path(Pod.next_to_ship) %></li>
          <li><%= link_to 'Administration', '/administration' %></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to 'My Account', edit_user_registration_path %></li>
        <% elsif !admin_signed_in? %>
          <li><%= link_to 'My Account', new_user_session_path %></li>
        <% end %>
        <% if signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='container'>
    
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

    <%= yield %>
    
  </div>

  <div class='container'>
    <footer>
      &copy; 2013 SeedPod Ltd. <%= link_to "Terms & Conditions", page_path("terms") %>
    </footer>
  </div>


</body>
</html>
